body{
    background:#4E89A2;
    padding:0;
    margin:0;
    color: #333;
    font-family:"Verdana";
}
#container{
    width:65%;
    margin:0 auto;
}
.contentbox{
    background:#2E9345;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-bottom-radius: 10px;
    border:3px solid #fff;
    width:100%;
    padding:10px;
}
#header{
    background:#2E9345;
    height:75px;
    margin:10px 0 40px 0;
}
#content p{
    text-align:center;
}
#footer {
    text-align:center;
    background:#2E9345;
    height:75px;
    margin:10px 0;
}
h1{
    padding:0;
    margin:5px 0 0;
    color:#AAB037;
    font-size:3em;
    text-align:center;
}
form,fieldset{
    border:0;
}
form{
    width:50%;
    margin:0 auto 40px auto;
}
.err{
    color:#642B26;
    border:2px solid #642B26;
}
.finished{
    display:none;
    margin-bottom:80px;
}
.randhamster img{
    display:block;
    margin:auto;
}
#drop_zone{
    padding:9px;
    border:3px solid #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-bottom-radius: 10px;
    width:100%;
    text-align:center;
    height: 100px;
    background: #fff;
}