!!! 5
html(lang="en")
  head
    title Node3p Web Downloader
    link(href="/css/core.css",rel="stylesheet",type="text/css")
  body
    #container
      #header.contentbox
        h1 Node3p Web
      #content
        p Find an AmazonMP3 file (something with a .amz extension). Click 'Upload' and wait.
        - if (error_message)
          p.err There was a problem: #{error_message}
        form(action="/",method="POST",enctype="multipart/form-data")
          fieldset.file
            input(,type="file",id="file",name="file")
          fieldset
            input(type="submit",value="Upload")
      #footer.contentbox
        p
          | Node3p and Node3p-web were developed by Nick Campbell (
          a(href="http://twitter.com/ncb000gt") @ncb000gt
          | ).
        p
          a(href="http://github.com/ncb000gt/node3p-web") Node3p-web is open sourced 
          | under the MIT license. Enjoy.