!!! 5
html(lang="en")
  head
    title Node3p Web Downloader
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="/js/socket.io/socket.io.js")
    script WEB_SOCKET_SWF_LOCATION = '/js/socket.io/lib/vendor/web-socket-js/WebSocketMainInsecure.swf';
    script(src="/js/site.js")
    link(href="/css/core.css",rel="stylesheet",type="text/css")
  body
    #container
      #header
        h1 Node3p Web Downloader
      #content
        p Amazon MP3 file was uploaded successfully.
        .randhamster
          img(src="/images/hamsters/hamster-redbull.jpg")
        p Our finest are on it. Please hang tight.
        .finished
          h3 Downloaded files
          .files
            ul.filelist
      #footer
        p
          | Node3p was developed by Nick Campbell (
          a(href="http://twitter.com/ncb000gt") @ncb000gt
          | ).
        p
          a(href="http://github.com/ncb000gt/node3p-web") Node3p-web is open sourced 
          | under the MIT license. Enjoy.